In [22]:
#importing all the neccesary libraries
import pandas as pd
import numpy as np
pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

In [23]:
#reding the GSAF5.csv database from the same folder where this document is stored
df = pd.read_csv("GSAF5.csv", sep = ",", engine = "python")

In [24]:
#first look at the table
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [25]:
#how many rows we got
len(df)

5992

In [26]:
#types of each row
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [27]:
#NaN in each column
null_columns = df.isna().sum()
null_columns[null_columns.gt(0)]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [28]:
#percentage of NaN per columns
null_prop = null_columns[null_columns.gt(0)] / len(df)
null_prop

Country                   0.007176
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Name                      0.033378
Sex                       0.094626
Age                       0.447430
Injury                    0.004506
Fatal (Y/N)               0.003171
Time                      0.536215
Species                   0.489653
Investigator or Source    0.002503
href formula              0.000167
href                      0.000501
Unnamed: 22               0.999833
Unnamed: 23               0.999666
dtype: float64

In [29]:
#checking columns with the most NaN values
null_prop[null_prop.gt(.7)]

Unnamed: 22    0.999833
Unnamed: 23    0.999666
dtype: float64

In [30]:
#drop Unnamed :22 and Unnamed :23 since they are mostly empty
df = df.drop(columns=null_prop[null_prop.gt(.7)].index)

In [31]:
#drop case number.1 and case number.2 since they hold the same info as case number
df = df.drop(columns =["Case Number.1","Case Number.2"])

In [32]:
#drop href formula and href since they are links that we dont need to analyse the data
df = df.drop(columns =["href formula","href"])

In [33]:
#drop name because of privacy and because we dont really care about the names and 1/3 of the information is missing 
df = df.drop(columns =["Name"])

In [34]:
#re order columns and putting original order first as an Id because i like that format better than the one in case number
df = df[["original order","Date","Year","Type","Country","Area","Location","Activity","Sex ","Age","Injury","Fatal (Y/N)","Time","Species ","Investigator or Source","pdf","Case Number"]]

In [35]:
#drop pdf, case number, investigator source since they are not usefull for our analysis
df = df.drop(columns =["pdf", "Investigator or Source","Case Number"])

In [36]:
#remove spaces from sex and species because of ocd
df = df.rename(columns={"Sex ": "Sex", "Species ": "Species", "original order" : "CaseId"})

In [37]:
null_columns = df.isna().sum()
null_columns[null_columns.gt(0)]

Country          43
Area            402
Location        496
Activity        527
Sex             567
Age            2681
Injury           27
Fatal (Y/N)      19
Time           3213
Species        2934
dtype: int64

In [38]:
null_prop = null_columns[null_columns.gt(0)] / len(df)
null_prop

Country        0.007176
Area           0.067089
Location       0.082777
Activity       0.087951
Sex            0.094626
Age            0.447430
Injury         0.004506
Fatal (Y/N)    0.003171
Time           0.536215
Species        0.489653
dtype: float64

In [39]:
df.head()

,CaseId,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,5993,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN
1,5992,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN
2,5991,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN
3,5990,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN
4,5989,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark

In [40]:
#replace prefix to gain more data
new_date = df["Date"].str.replace("Reported ", "")

In [41]:
df["Date"] = new_date

In [72]:
#changing date type from object to datetime64
df["Date"] = pd.to_datetime(df["Date"], errors = "coerce")

In [74]:
df["Date"]

0      2016-09-18
1      2016-09-18
2      2016-09-18
3      2016-09-17
4      2016-09-16
          ...
5987          NaT
5988          NaT
5989          NaT
5990          NaT
5991          NaT
Name: Date, Length: 5992, dtype: datetime64[ns]

In [79]:
#counting null values
null_date = df["Date"].isnull().sum()
null_date

368

In [81]:
df.head()

,CaseId,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,5993,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN
1,5992,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN
2,5991,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN
3,5990,2016-09-17,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN
4,5989,2016-09-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark

In [119]:
df["Age"] = pd.to_numeric(df['Age'], errors='coerce', downcast="integer")
df["Age"].dtypes

dtype('float64')

In [122]:
#Changing columns to appropriate data type
for col in ['CaseId']:
    df[col] = df[col].astype('int64')
for col in ['Sex', 'Fatal (Y/N)']:
    df[col] = df[col].astype('bool')
for col in ['Year']:
    df[col] = df[col].astype('datetime64[ns]')

In [124]:
df.dtypes

CaseId                  int64
Date           datetime64[ns]
Year           datetime64[ns]
Type                   object
Country                object
Area                   object
Location               object
Activity               object
Sex                      bool
Age                   float64
Injury                 object
Fatal (Y/N)              bool
Time                   object
Species                object
dtype: object

In [125]:
df.describe()

            CaseId          Age
count  5992.000000  3210.000000
mean   2997.548899    27.123364
std    1729.860210    13.719479
min       2.000000     1.000000
25%    1499.750000    17.000000
50%    2997.500000    24.000000
75%    4495.250000    35.000000
max    5993.000000    87.000000